# SDCC stuff
*.lnk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym
*.o
cscope.*
# Library archives
*.a
# Emacs backup
*~
# Statistics from builds
size.report
# Build system output
.obj
bin
# My stuff
filesystem-*.img
a.out
Applications/V7/cmd/sh/Makefile.6809_2
